<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.tz.dao"/>
	<context:component-scan base-package="com.tz.service"/>


	<!-- 配置连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/tzexam"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
	</bean>


    <!-- 配置hibernate 构建一个session工厂 orm框架 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!-- 获取数据源 -->
        <!-- hibernate第一步找到链接对象dataSource -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 第二步：注册bean的信息 -->
        <property name="namingStrategy">
            <bean class="org.hibernate.cfg.ImprovedNamingStrategy" />
        </property>
        <!-- 获取实体目录 -->
        <property name="packagesToScan" value="com.tz.model"/>
        <!-- 第三步:断言，sql是否显示，是否自动构建表 -->
        <property name="hibernateProperties">
            <props>
                <prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="show_sql">true</prop>
                <prop key="format_sql">true</prop>
                <prop key="hbm2ddl.auto">update</prop>
                <prop key="current_session_context_class">thread</prop>
            </props>
        </property>
    </bean>


   <!-- <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>-->

    <!-- 加载注解的事务 -->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->

    <!-- 以上配置完了，就可以用 Hibernate 来使用 增 删 查 改 了。

        其实配置上面这些 就相当于是 new 对象样，然后赋值，它里面依懒于它，，就是这种？？？

        以上 配置好了，就可以配置 SpringMVC ，它要和 web.xml 打交道。

    -->

</beans>